body {
    background-color: bisque;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    /* padding: 100px 50px; */
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    text-align: center;
    font-size: 40px;
    margin: 40px 20px;
    padding: 10px 10px;
}

.recipe-box {
    /* something here, brain dead */
}

.recipe {
    margin: 5px;
}